<div class="signin-signup-container">
  <mat-card class="signin-card" *ngIf="isSigninFormVisible">
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="signin()" #signinForm="ngForm">
        <mat-form-field class="full-width">
          <input matInput type="email" name="email" [(ngModel)]="signinData.email" required placeholder="Email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" name="password" [(ngModel)]="signinData.password" required
            placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button><br><br>
        <button mat-raised-button color="accent" type="submit" (click)="signInWithGoogle()">Sign in with Google</button>
      </form>
      <mat-card-actions>
        <p class="hint">Don't have an account? <a style="color: rgb(1, 1, 170);" (click)="toggleForm('signup')">Sign
            Up</a></p>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>


  <mat-card class="signup-card" *ngIf="isSignupFormVisible">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="signup()" #signupForm="ngForm">
        <mat-form-field class="full-width">
          <input matInput type="text" name="studentID" [(ngModel)]="signupData.studentID" required
            placeholder="Student ID">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="text" name="firstName" [(ngModel)]="signupData.firstName" required
            placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="text" name="lastName" [(ngModel)]="signupData.lastName" required
            placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="email" name="email" [(ngModel)]="signupData.email" required placeholder="Email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" name="password" [(ngModel)]="signupData.password" required
            placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
        <mat-card-actions>
          <p class="hint">have an account? <a style="color: rgb(1, 1, 170);" (click)="toggleForm('signin')">Login</a>
          </p>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>