<mat-drawer-container class="min-h-full mx-auto max-w-7xl border-x">

    <mat-drawer-content class="p-6">
        <mat-card class="mb-4">
            <div class="flex justify-between">

                <div class="flex items-center">
                    <button mat-button (click)="Abstract()">Abstract</button>
                    <button mat-button (click)="Authors()">Authors</button>
                    <button mat-button (click)="References()">References</button>
                    <button mat-button (click)="Keywords()">Keywords</button>
                </div>
            </div>
        </mat-card>
        <mat-card *ngFor="let studentItem of projectData" class="col-md-4 mb-3">
            <mat-card-header>
                <mat-card-title style="font-size: 40px; color: rgb(1, 1, 170);">{{ studentItem.titleENG
                    }}</mat-card-title>
            </mat-card-header><br>
            <mat-card-content>
                <p style="font-size: 16px; color: rgb(0, 0, 255);">{{ studentItem.category }}</p><br>
                <p style="font-size: 16px; "> Authors:
                    <a href="#" class="blue-underlined">
                        {{ studentItem.st_id_1 }} {{ studentItem.n_ENG_1 }}</a>,
                    <a href="#" class="blue-underlined">
                        {{ studentItem.st_id_2 }} {{ studentItem.n_ENG_2 }}</a>,
                    <a href="#" class="blue-underlined">
                        {{ studentItem.st_id_3 }} {{ studentItem.n_ENG_3 }}</a>
                </p>
                <p style="font-size: 16px;">Advisor:
                    <a href="#" class="blue-underlined">
                        {{ studentItem.advisor }}, {{ studentItem.coadvisor }}</a>
                </p>
                <p style="font-size: 14px;">Year: {{ studentItem.year | date: 'MM-dd-yyyy' }}</p>
                <p style="font-size: 14px;">Link: <a href="{{ studentItem.link }}" target="_blank"
                        style="text-decoration: underline; color: blue;">{{ studentItem.link }}</a></p>
            </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let studentItem of projectData" class="col-md-4 mb-3">
            <mat-card-content *ngIf="showForm1">
                <p style="font-size: 24px; font-weight: bold;">Abstract:</p><br>
                <p class="description" style="font-size: 18px;">{{ studentItem.description }}</p>

            </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let studentItem of projectData" class="col-md-4 mb-3">
            <mat-card-content *ngIf="showForm2">
                <p style="font-size: 24px; font-weight: bold;">Authors:</p>
                <p class="description" style="font-size: 18px;">
                    <a href="#" class="blue-underlined">
                        {{ studentItem.st_id_1 }} {{ studentItem.n_ENG_1 }}</a><br><br>
                    <a href="#" class="blue-underlined">
                        {{ studentItem.st_id_2 }} {{ studentItem.n_ENG_2 }}</a><br>
                    <a href="#" class="blue-underlined">
                        {{ studentItem.st_id_3 }} {{ studentItem.n_ENG_3 }}</a>
                </p><br>
                <p style="font-size: 24px; font-weight: bold;">Advisor:</p>
                <p class="description" style="font-size: 18px;">
                    <a href="#" class="blue-underlined">
                        {{ studentItem.advisor }} </a><br><br>
                    <a href="#" class="blue-underlined">
                        {{ studentItem.coadvisor }}</a>
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let studentItem of projectData" class="col-md-4 mb-3">
            <mat-card-content *ngIf="showForm3">
                <p style="font-size: 24px; font-weight: bold;">References:</p><br>

            </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let studentItem of projectData" class="col-md-4 mb-3">
            <mat-card-content *ngIf="showForm4">
                <p style="font-size: 24px; font-weight: bold;">Keywords:</p><br>

            </mat-card-content>
        </mat-card>

    </mat-drawer-content>
</mat-drawer-container>